<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title > 
     </title>
     <style>
        .center {
          margin: auto;
          width: 40%;
           border: 3px solid #111110;
          padding: 100px;
        }
        </style>
    <link rel="stylesheet" type="text/css" href="/app.css">
</head>
<body>
    <div class="center">
<h1> Weather details  </h1> 
<h3>
<br>
Temperature: <%= Temperature %>
<br>
Description: <%= Description %>
<br>
City: <%= City %>
<br>
Country: <%= country %>

</h3>
</div>
</body>
</html>

